<%@posts.each do |p| %>
	<div style="border: solid;">
	<%=p.user.fname + " " + p.user.lname%> :
	<%= image_tag p.img %>
	<%=p.content%>
	</div>

<%end%>
<li><a><%= link_to 'Home', root_path %></a></li>